# Directories
.vs*
x64/*
Release/*
Debug/*
COM/Shapes/Release/*
COM/Shapes/Debug/*
COM/Shapes/x64/*
COM/ShapesClientCPP/Release/*
COM/ShapesClientCPP/Debug/*
COM/ShapesClientCPP/x64/*

# Prerequisites
*.d
*.vcxproj.user

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
